.topBarIcon{
    display: inline-block;
    height: 20px;
    width: 20px;
}

.alignRight{
    float: right;
}

.topBarLogo{
    height: 20px;
    width: 20px;
}

.topBarIcon{
    height:20px;
    width: 20px;
}