#newIdeaTitleContainer{
    margin-bottom: 5px;
}

#ideaCardContent{
    margin:10px;
    
}

input:focus {
    outline:none;
}

#newIdeaTitle{
    border:none;
    width: 100%;
    margin-bottom: 5px;
}

#newIdeaContent{
    border:none;
    width: 100%;
    height: 380px;
}

#createIdeaButton{
    display: inline-block;
    margin-top: 13px;
    padding: 20px;
    background-color: cyan;
    font-family: cursive;
}