.ideaTopButton{
    height: 20px;
    width: 20px;
}

#ideaTitle{
    height: 25px;
    background-color: bisque;
}

#ideaContent{
    background-color: thistle;
    height:300px;
}

#ideaCard{

}

.bottomButton{
    height:20px;
    width:20px;
}

.bottomIndicator{
    margin-right: 10px;
    display: inline-block;
}