.ideaTopButton{
    height: 20px;
    width: 20px;
}

#ideaTitle{
    height: 25px;
    background-color: bisque;
}

#ideaMainContent{
    background-color: thistle;
    height:300px;
}

#ideaContent{
    width:95%;
    display: inline-block;
}

#ideaDrawer{
    width:5%;
    height: 100%;
    display: inline-block;
    background-color: grey;
}

.bottomButton{
    height:20px;
    width:20px;
}

.bottomIndicator{
    margin-right: 10px;
    display: inline-block;
}