.searchBarIcon{
    height:20px;
    width:20px;
    margin-right: 5px;
}

.searchBarText{
    size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}

.searchBarChooserData{
    margin: 10px;
}

.searchBarChooserContainer{
    display: inline-block;
    background-color: white;
    margin: 20px;
    border-color: peachpuff;
    border-width: 5px;
    border-style: solid;
}

#searchBar{
    margin-bottom: 20px;
}