.verticalMiddleAlign{
    position: relative;
    transform: translateY(25%);
}

.displayInlineBlock{
    display: inline-block;
}

.mainContent{
  padding: 0 20%;
}

.hoverClickHand{
    cursor: pointer;
}

#mainLogo{
    display: inline-block;
    color: white;
    font-size: 60px;
    font-family: fantasy;
    font-weight: bold;

}