#mainPage{

  }
  
  body{
    background-image: url('../images/topBackground.jpg');
    background-repeat: no-repeat;
    background-size: 100% 35%;
    background-color: beige;
  }
  
  .mainContent{
    padding: 0 20%;
  }
  
  html, body {
      margin:0;
      padding:0;
      height: 100%;
  }